@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&displY=swap');

:root {
    --cor-primaria: rgb(0, 0, 0);
    --cor-secundaria: white ;
    --cor-terciaria: antiquewhite;
    --cor-quartaria: #9e0101;
    --cor-hover:#272727;

    --font-primaria: 'Krona One' , sans-serif;
    --font-secundaria: 'Montserrast' , sans-serif;
}
*{
    margin: 2%;
    padding: 0%;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 0% 50% 0% 14%;
}
.cabecalho__menu {
    display: flex;
    gap: 0px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao {
   padding: 0% 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size:2.43rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-quartaria);
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}
.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao {
    justify-content: center;
    gap: 16px;
    display: flex;
    border: 9px solid var(--cor-quartaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 10.5px 5px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
}
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}
.apresentacao__imagem {
    width:50%;
}
.rodape {
     color: var(--cor-terciaria);
     background-color: var(--cor-quartaria);
     padding: 1px;
     text-align: center;
     font-family: var(--font-secundaria);
     font-size: 1.75rem;
     font-weight: 400;
}
@media (max-width: 1200px) {
    .cabecalho {
        padding: 2%;
    }
        .cabecalho__menu {
            justify-content: center;
        }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;

    }
    .apresentacao__conteudo {
        width: auto;
    }
}